@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<body>
<address>
    Örebro Universitetet<br />
    <br />
    <abbr title="Phone">P:</abbr>
   
</address>

<address>
  
</address>
<style>
    body {
        background-color: lightblue;
    }
</style>
</body>